MYSQL_SERVER=mysql
MYSQL_ROOT_PASSWORD=Passw0rd.
MYSQL_USER=gber-user
MYSQL_PASSWORD=Passw0rd.
MYSQL_DATABASE=gber

GOOGLE_MAP_APIKEY=<YOUR GOOGLE MAP APIKEY>
SENDGRID_APIKEY=<YOUR SENDGRID APIKEY>

IS_MAINTAINANCE=false
IS_DEMO=false